 <body>
 <div *ngIf="user">
    <div class="panel panel-default">
      <div class="panel-heading" id="heading">
        <p class="names"><span class="glyphicon glyphicon-user"></span> &nbsp; {{user.login}} &nbsp;<small>({{user.name}})</small></p>
      </div>
      <div class="panel-body" id="body">
        <div class="row">
          <div class="col-sm-3">
            <img src="{{user.avatar_url}}" class="img-circle" alt="">
          </div>
          <div class="col-sm-3">
            <ul class="list-group" id="email">
              <li class="list-group-item" *ngIf="user.email" id="emailocation">Email-Address: <a href="{{user.email}}" target="_blank"> {{user.email}} </a></li>
              <li class="list-group-item" *ngIf="user.location" id="emailocation">Location: <b>{{user.location}}</b></li>
              <li class="list-group-item" *ngIf="user.created_at" id="emailocation">Account created on: <b>{{user.created_at | date}}</b></li>
            </ul>
          </div>
          <div class="col-sm-4" id="repos-part">
            <div>
              <p>
                <span class="label label-info" id="labels">{{user.followers}} Followers</span>
                &nbsp;
                <span class="label label-warning" id="labels">{{user.following}} Following</span>
                &nbsp;
                <span class="label label-danger" id="labels">{{user.public_repos}} Repositories</span>
                &nbsp;

              </p>
              <br>
              <p><a href="{{user.html_url}}" target="_blank" class="btn btn-success btn-sm" id="view"> View profile on Github &nbsp; <span class="glyphicon glyphicon-share-alt"></span></a></p>
              <br>
              <app-repos></app-repos>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>